#main
{
    position: relative;
    max-width: 700px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background-color: white;
}

#cover1
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 10;
    color: white;
}

#cover2
{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 10;
    color: white;
}

#cover3
{

    font-size: 50px;
    color: white;

}

#overlay
{
    position: fixed; /* Sit on top of the page content */
    display: none;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#policy-notice {
    display: none;
    position: fixed;
    width: 800px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    padding: 16px 16px;
    z-index: 2;
    background-color: white;
    box-shadow: 2px 2px 5px grey;
}

#btn-close {
    position: absolute;
    right: 16px;
    top: 16px;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

#btn-close:hover {
    background-color: rgb(223, 223, 223);
}

#factchecker {
    display: none;
    padding: 10px 10px;
}

#factchecker svg,p {
    display: inline;
    vertical-align: middle;
}

#factchecker svg {
    margin-left: 16px;
}

#artist-statement-link {
    text-align: center;
    text-decoration: none;
}

#artist-statement-link p {
    color: rgb(179, 179, 179);
}

#warning-signs {
    display: none;
}

.warning-banner {
    position: fixed;
    background-image: url("assets/images/you_have_been_warned/warning-banner.png");
    background-size: contain;
    height: 100%;
    width: 20%;
    background-repeat: repeat-y;
    animation: animatedBackground 10s linear infinite;
}

.left-banner {
    left: 0px;
}

.right-banner {
    right: 0px;
}

.warning-banner2{
    position: fixed;
    border-radius: 4px;
}

.top-banner {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.bottom-banner {
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

@keyframes animatedBackground {
	from { background-position: 0 -50%; }
	to { background-position: 0 150%; }
}

@media only screen and (max-width: 700px) {
    #policy-notice{
        width: 100%;
    }

    .top-banner{
        top: 0px;
    }
    .bottom-banner {
        bottom: 0px;
    }
 }


 @media only screen and (max-width: 1170px) {

    .warning-banner{
        display: none;
    }
 }
 

 @media only screen and (min-width: 1170px) {
    body {
        background-color: white;
        background-image: none;

    }   
    .left-banner {
        left: 0px;
    }
    
    .right-banner {
        right: 0px;
    } 
 }
 

 @media only screen and (min-width: 1170px) {
    .left-banner {
        left: 40px;
    }
    
    .right-banner {
        right: 40px;
    } 
 }


  @media only screen and (min-width: 1600px) {
    .left-banner {
        left: 80px;
    }
    
    .right-banner {
        right: 80px;
    } 
 }
 
